
.text{
    width : 240px;
    height : 259px;
    background-color: rgb(242, 232, 33);
    font-family: 'Reenie Beanie';
    text-align: center;
    background: #58a; /* Fallback */
background:
 linear-gradient(to left bottom,
 transparent 50%, rgba(0,0,0,.4) 0)
 no-repeat 100% 0 / 2em 2em,
 linear-gradient(-135deg,
 transparent 1.5em, rgb(242, 232, 33) 0);  


}
